<!-- error alerts -->
<div id="alert-container"></div>

<div class="card card-error card-container">

    <!-- logo -->
    <div class="row">
        <div class="col-md-12">
            <span><img class="school-logo pull-left" alt="Brand" src="{{@BASE}}/ui/img/school-logo.png"></span>
            <span class="brand-text brand-text-error text-right">{{ @site_name }}</span>
        </div>

        <h2 class="text-center">This page does not exist!</h2>
        <p class="text-center">
            <a href="{{ @BASE }}/">
                Please click here to return to home...
            </a>
        </p>
    </div>

</div>
